body{
    color: $color-dark-grey;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
}

.main-content-heading{
    color: $color-white;
    backface-visibility: hidden;
    text-transform: uppercase;
    margin-bottom: 6rem;
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);

        @include respond(phone) {
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);

        @include respond(tab-port) {
            letter-spacing: 0.5rem;
        }
    }
}
.heading-secondary{
    margin: 0 auto;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    display: inline-block;
    @supports (background-clip: text) {
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    color: $color-primary;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover{
        transform: skewX(15deg) skewY(2deg) scale(1.13);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
}
.heading-tertiary{
    font-size: $font-size-default;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: $font-size-default;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}